* {
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    padding: 5px;
}
body {
    max-width: 600px;
    min-width: 300px;
    margin: auto;
}
#lampada {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
}
#mudaconteudo {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
}
#textoaltera {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082); 
}
#hideelement {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
}