* {
    font-family: Arial, Helvetica, sans-serif;
}
#lampada {
    width: 400px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
}
#mudaconteudo {
    width: 400px;
    height: 100px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.082);
}